@import '../../style/light_theme';

.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  border-bottom: 1px solid $border-color;
  background-color: $dark-blue;
  padding-left: 0.5em;

  div {
    display: flex;
    flex-wrap: wrap;
    margin: 0.2em 1em;
    color: $white;
    padding-right: 5px;

    a {
      padding: 0 1em 0 0;

      .logo {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
      }
  
      .page-title {
        vertical-align: middle;
        margin-left: 0.5em;
        font-size: x-large;
      }
    }
  }
}