@mixin Gotu-font {
  font-family: "Gotu", sans-serif;
}

@mixin Changa-font {
  font-family: "Changa", sans-serif;
}

@mixin text-shadow($left: false) {
  @if ($left) {
    text-shadow: darkgreen 2px 2px 4px;
  } @else {
    text-shadow: darkgreen -2px 2px 4px;
  }
}

@mixin button-lg {
  border: none;
  border-radius: 5px;
  padding: 3px 0;
  width: 250px;
  color: rgb(9, 39, 0);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(#68cf7f, #8ff1a4 65%, #68cf7f);
}

@mixin button-med {
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  width: 120px;
  color: rgb(9, 39, 0);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(#68cf7f, #8ff1a4 65%, #68cf7f);
}

@mixin button-small {
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  color: rgb(9, 39, 0);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(#68cf7f, #8ff1a4 65%, #68cf7f);
}

@mixin text-input {
  border: none;
  border-radius: 2px;
  box-shadow: #68cf7f 1px 1px 2px inset;
  border-left: solid 1px #68cf7f;
  border-top: solid 1px #68cf7f;
  border-bottom: solid 1px #d4fde7;
  border-right: solid 1px #d4fde7;
  padding: 10px;

  font-size: 1.2rem;
}

@mixin text-currency-input {
  display: flex;
  align-items: center;
  flex-flow: row;
  border-radius: 2px;
  box-shadow: #68cf7f 1px 1px 2px inset;
  border-left: solid 1px #68cf7f;
  border-top: solid 1px #68cf7f;
  border-bottom: solid 1px #d4fde7;
  border-right: solid 1px #d4fde7;
  margin: 5px auto;

  width: 60%;
}
