@import '../../style/light_theme';

.layout-container--auth {
    background-color: $white;

    .login-raised-card {
        box-shadow: 0 10px 50px 20px rgba(78, 234, 255, 0.3), 0 10px 20px 0 rgba(0, 0, 0, 0.19) !important;
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 27em !important;
        background-color: $white !important;
    }

    .section {
        padding-top: 10px;

        &--button {
            width: 20em;
            display: flex;
            justify-content: space-between;
        }

        .section-header {
            padding-left: 2px;
            padding-bottom: 2px;
            font-style: normal;
            font-weight: bold;
        }

        .error-color {
            color: $error-color;
        }

        .login-input {
            width: 20em;
        }

        &--link {
            a {
                color: $color !important;
                font-weight: bold;
            }
        }
    }

}