$background-color: #ffffff;
$border-color: #d3d3d3;
$color: #000000;
$link-color: #f6cd8b;
$link-color-active: #ff0000;
$error-color: #9f3a38;

// app color theme
$blue: #29abe2;
$dark-blue: #0071bc;
$light-blue: #29abe2;
$white: #ffffff;
$table-active: #9ad7ff;
$login-card: #d3f3ff77;