@import 'light_theme';

@font-face {
  font-family: 'Lato';
  src: url('./font/Lato-Regular.ttf')
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  a {
    color: $white;
    text-decoration: none;
  }

  a:active, a:hover {
    color: $color;
  }

  .modal-header {
    display: flex !important; // this adnotation is necessary to overwrite default modal style
    align-items: center;
  }

  .error-color {
    color: $error-color;
  }

  .text-center {
    text-align: center;
  }

  #root {
    height: 100vh;
    width: 100vw;

    .no-padding {
      padding: 0;
    }

    .grid {
      margin-top: 0;
      margin-bottom: 0;
      height: 95%;

      .full-screen-height {
        height: 100%;
      }
    }

    .layout-container {
      height: 100vh;
      width: 100vw;
      display: flex;
  
      &--auth {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .raised-card {
          width: 30%;
          padding: 2em;
          background-color: $light-blue;
          display: flex;
          align-items: center;

          .auth-icon {
            margin: 0.3em 0;
          }

          .section {
            min-width: 80%;
            margin: 0 0 1em 0;

            &--button {
              display: flex;
              justify-content: center;
              margin: 1em 0;
              flex-wrap: wrap;
            }

            .button {
              margin: 0.1em;
            }
          }
        }

        // for telephones
        @media only screen and (max-width: 768px) {
          .raised-card {
            width: 80%;
          }
        }
      }
    }
  }
}