@import '../../style/light_theme';

.input-color {
    input {
        padding: 2px;
    }
    *, *:before, *:after {
        box-sizing: border-box;
        padding: 2px;
    }
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding-top: 10px;
    .section-header {
        padding-left: 2px;
        padding-bottom: 2px;
        font-style: normal;
        font-weight: bold;
    }
}